.m-main{
    height: calc( 100vh - 84px);
    width: 960px;
    margin: 0 auto;
    padding: 20px 0 0 0;
    background: #fff;
    overflow-y: scroll;
}
@media screen and (max-width: 414px) {
    .m-main{
        width: 100%;
        height: auto;
    }
}